%button {
  border: 1px solid $bright-red;
  border-radius: 20px;
  background-color: $bright-red;
  color: $white;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s ease-out;

  @media (min-width: $breakpoint-desktop) {
    padding: 1.3rem 3rem;
  }

  &:hover {
    border: 1px solid lighten($bright-red, 10);
    box-shadow: 0px 10px 20px -5px lighten($bright-red, 15);
    background-color: lighten($bright-red, 10);
  }
}

.button-large {
  @extend %button;
  padding: 1.3rem 4rem;
}

.button-revert {
  @extend %button;
  padding: 1.3rem 4rem;
  background-color: $white;
  color: $bright-red;

  &:hover {
    box-shadow: none;
    background-color: $white;
    color: lighten($bright-red, 20);
  }
}

.button-small {
  @extend %button;
  padding: 1.3rem 2.5rem;
  font-size: 1.6rem;
}

.button-header {
  display: none;
  @media (min-width: $breakpoint-desktop) {
    display: inline-block;
  }
}
