// Primary Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral Colors
$white: hsl(0, 100%, 100%);
$grayish-blue: hsl(227, 12%, 61%);
$darker-blue: hsl(233, 12%, 13%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);

// Font
$font-primary: "Be Vietnam Pro", sans-serif;

// Responsive breakpoints
$breakpoint-mobile: 24em; // 375px
$breakpoint-desktop: 90em; // 1440px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  background-image: url("images/bg-tablet-pattern.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right -9rem top -5rem;
  line-height: 1.6;
  @media (min-width: $breakpoint-desktop) {
    background-size: 50%;
  }
}
