// Primary Colors
$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral Colors
$white: hsl(0, 100%, 100%);
$grayish-blue: hsl(227, 12%, 61%);
$darker-blue: hsl(233, 12%, 13%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);

// Font
$font-primary: "Be Vietnam Pro", sans-serif;

// Responsive breakpoints
$breakpoint-mobile: 24em;
$breakpoint-desktop: 90em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url("images/bg-tablet-pattern.svg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: right -6rem top -2rem;
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.6;
  width: 100vw;
  overflow-x: hidden;
  @media (min-width: $breakpoint-desktop) {
    background-size: 50%;
    background-position: right -6rem top -14rem;
  }
}
