.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: 5rem 3rem;

  @media (min-width: $breakpoint-desktop) {
    margin: 8rem 18rem;
  }

  &__button {
    display: none;
    padding: 1.3rem 3rem;
    @media (min-width: $breakpoint-desktop) {
      display: inline-block;
    }
  }
}

