%heading {
  color: $dark-blue;
  line-height: 1.4;
  font-family: $font-primary;
  font-weight: 700;

  @media (min-width: $breakpoint-desktop) {
    font-size: 5rem;
  }
}

.heading-1 {
  @extend %heading;
  font-size: 3.6rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 5rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 4rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
}

%paragraph {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $grayish-blue;
  font-family: $font-primary;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.paragraph-1 {
  @extend %paragraph;
  font-size: 1.6rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 2rem;
  }
}

.paragraph-2 {
  @extend %paragraph;
  font-size: 1.4rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.6rem;
  }
}

.paragraph-white {
  @extend %paragraph;
  font-size: 3rem;
  color: $white;
  font-weight: 700;

  @media (min-width: $breakpoint-desktop) {
    font-size: 4rem;
  }
}
